#authModal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    background: rgb(182, 182, 182);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-left: auto;
    z-index: 100;
    overflow: auto;
    transform: translate(-50%, -50%);
}

#authModal.hidden {
    display: none;
}

#gameFormTitle {
    color: blue;
}

#cancelBtn {
    margin-bottom: 15px;
}

#formToggleText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}

#formToggleLink {
    width: 50%;
}

input {
    width: 90%;
}

#authModal button {
    border-radius: 8px;
    width: 50%;
}

@media screen and (max-width: 468px) {
    #authModal{
        width: 70%;
    }
    
}