#solarSystem-container {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    width: 100vw;
    height: calc(100vh - 50px);
    /* overflow: hidden; */
    margin-top: 50px;
}

canvas {
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
}

#home-info {
    text-align: center;
    color: blue;
    position: absolute;
    padding: 2px 8px;
    top: 35px;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    width: 80%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 5;
}

#zoomControls {
    display: flex;
    gap: 35px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #ccc;
    border-radius: 18px;
    padding: 8px;
    z-index: 5;
}

.zoomToggle {
    cursor: pointer;
    color: white;
    align-items: center;
    top: 15px;
    bottom: 15px;
}

.zoomToggle i {
    font-size: 1rem;
    color: black;
}

@media (max-width: 468px) {
    /* .zoomControls {
        bottom: 40px;

    } */
    .zoomToggle {
        top: 55px;
        bottom: 55px;
    }
    
    .zoomToggle i {
        font-size: 1.5rem;
        color: black;
    }
}
